# Make list of optical H_2 lines

For comparison with our Deep Red Lines

In [1]:
from pathlib import Path
import numpy as np
import pandas as pd
import seaborn as sns
from astropy import units as u
from specutils.utils.wcs_utils import vac_to_air, air_to_vac
from astropy.table import QTable

In [2]:
cloudy_path = Path.home() / "Work/PNe/Peter/herschel-helix-models/models/static/"
save_path = Path.cwd().parent.parent / "data-atomic"

Read in the molecular hydrogen line list.  This is a Helix Nebula model from an abandoned project from 2013. Eventually, I should replace it with a better model for NGC 346

In [3]:
df = pd.read_csv(cloudy_path / "static_n20big.h2l", sep="\t")

Take the second half of the file and remove the Ehi, Elo columns that we do not need

In [4]:
df = df.loc[618:]
del df['Ehi']
del df['Elo']

Select all lines with wavelengths less than 0.93 micron and sort by wavelength

In [5]:
df = df.query("`wl(mic)` < 0.93").sort_values("wl(mic)")
df

,#H2 line,Vhi,Jhi,Vlo,Jlo,wl(mic),wl(lab),log L or I,I/Inorm,"Excit(hi, K)",g_u h nu * Aul
1068,6-1 S(9),6,11,1,9,0.568919,5689A,29.763,0.000175,38099.677,1.365000e-17
1153,6-1 S(12),6,14,1,12,0.590453,5905A,29.573,0.000113,41671.153,5.954000e-18
1147,7-2 S(9),7,11,2,9,0.613353,6134A,29.880,0.000229,41557.792,3.130000e-17
916,4-0 S(9),4,11,0,9,0.626962,6270A,29.527,0.000102,30138.752,8.314000e-18
1180,8-3 S(7),8,9,3,7,0.652961,6530A,29.552,0.000107,42884.301,3.981000e-17
...,...,...,...,...,...,...,...,...,...,...,...
873,5-2 S(1),5,3,2,1,0.922920,9229A,29.649,0.000134,27374.185,1.161000e-17
1240,13-7 O(2),13,0,7,2,0.923122,9231A,29.524,0.000101,50862.722,3.049000e-19
1169,9-5 S(0),9,2,5,0,0.923291,9233A,29.947,0.000267,42184.610,2.374000e-18
1224,9-5 S(8),9,10,5,8,0.926411,9264A,30.035,0.000326,46520.724,3.715000e-17
775,4-1 O(2),4,0,1,2,0.929753,9298A,30.295,0.000594,21941.939,2.755000e-19

It turns out that the wavelengths from Cloudy are already on an air scale

In [6]:
df = df.assign(
    wav_air=(df["wl(mic)"].to_numpy() * u.micron).to(u.Angstrom).value,
)

In [7]:
df

,#H2 line,Vhi,Jhi,Vlo,Jlo,wl(mic),wl(lab),log L or I,I/Inorm,"Excit(hi, K)",g_u h nu * Aul,wav_air
1068,6-1 S(9),6,11,1,9,0.568919,5689A,29.763,0.000175,38099.677,1.365000e-17,5689.189
1153,6-1 S(12),6,14,1,12,0.590453,5905A,29.573,0.000113,41671.153,5.954000e-18,5904.529
1147,7-2 S(9),7,11,2,9,0.613353,6134A,29.880,0.000229,41557.792,3.130000e-17,6133.531
916,4-0 S(9),4,11,0,9,0.626962,6270A,29.527,0.000102,30138.752,8.314000e-18,6269.624
1180,8-3 S(7),8,9,3,7,0.652961,6530A,29.552,0.000107,42884.301,3.981000e-17,6529.610
...,...,...,...,...,...,...,...,...,...,...,...,...
873,5-2 S(1),5,3,2,1,0.922920,9229A,29.649,0.000134,27374.185,1.161000e-17,9229.202
1240,13-7 O(2),13,0,7,2,0.923122,9231A,29.524,0.000101,50862.722,3.049000e-19,9231.222
1169,9-5 S(0),9,2,5,0,0.923291,9233A,29.947,0.000267,42184.610,2.374000e-18,9232.911
1224,9-5 S(8),9,10,5,8,0.926411,9264A,30.035,0.000326,46520.724,3.715000e-17,9264.113
775,4-1 O(2),4,0,1,2,0.929753,9298A,30.295,0.000594,21941.939,2.755000e-19,9297.534

In [8]:
df.to_csv(save_path / "cloudy-h2-lines.csv")

Now sort by upper level

In [9]:
df = df.sort_values(["Vhi", "Jhi"])
df

,#H2 line,Vhi,Jhi,Vlo,Jlo,wl(mic),wl(lab),log L or I,I/Inorm,"Excit(hi, K)",g_u h nu * Aul,wav_air
706,3-0 O(2),3,0,0,2,0.874803,8748A,30.252,0.000539,16952.188,7.631000e-20,8748.027
709,3-0 Q(1),3,1,0,1,0.849745,8497A,29.848,0.000212,17097.720,5.478000e-19,8497.445
724,3-0 S(1),3,3,0,1,0.815062,8151A,29.586,0.000116,17818.015,1.864000e-18,8150.616
736,3-0 S(2),3,4,0,2,0.804645,8046A,30.043,0.000333,18385.814,1.130000e-18,8046.446
737,3-0 Q(4),3,4,0,4,0.861090,8611A,29.544,0.000106,18385.814,3.576000e-19,8610.899
...,...,...,...,...,...,...,...,...,...,...,...,...
1223,9-4 S(8),9,10,4,8,0.722634,7226A,29.812,0.000196,46520.724,2.228000e-17,7226.335
1224,9-5 S(8),9,10,5,8,0.926411,9264A,30.035,0.000326,46520.724,3.715000e-17,9264.113
1219,10-5 S(4),10,6,5,4,0.772420,7724A,29.608,0.000122,46499.487,1.224000e-17,7724.196
1238,11-6 S(8),11,10,6,8,0.918044,9180A,29.614,0.000124,50707.723,2.453000e-17,9180.444
1240,13-7 O(2),13,0,7,2,0.923122,9231A,29.524,0.000101,50862.722,3.049000e-19,9231.222

In [10]:
df.to_csv(save_path / "cloudy-h2-lines-sort-upper.csv")